body {
	background-image: url('../darkBackground.jpg');
	font-family: Tahoma, Helvetica, Arial, Sans-Serif;
	overflow-x: hidden;
}

h1 {
	font-size: 40px;
	color: #F1F1F1;
	margin-top: 30px;
	margin-bottom: 60px;
	text-align: center;
	text-shadow: 0px 2px 3px #A4B4CA;
}

h2 {
	color: #F1F1F1;
}

div {
	-webkit-transition-duration: 1000ms;
    transition-duration: 1000ms;
    margin: auto;
}

.btn.ng-hide {
	font-size: 0;
	opacity: 0;
}

.img2div.ng-hide-add {
	animation: slideOutRight 1s both ease-in; z-index: 8888;
}

.img1div.ng-hide-add {
	animation: slideOutLeft 1s both ease-in; z-index: 8888;
}

.img1div.ng-hide-remove {
	animation: slideInLeft 1s both ease-in; z-index: 8888;
}

.img2div.ng-hide-remove {
	animation: slideInRight 1s both ease-in; z-index: 8888;
}

img:hover {
	cursor: pointer;
	cursor: hand;
	opacity: 50%;
}

.win {
	border-color: green;
	background-color: green;
}

.lose {
	border-color: red;
	background-color: red;
}

.next {
	color: #F1F1F1;
	font-size: 20px;
	margin-top: 80px;
	padding: 10px 50px;
	text-align: center;
}

.score {
	font-size: 30px;
	color: #F1F1F2;
	margin-top: 50px;
	position: absolute;
	text-align: center;
}



@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideOutRight {
    to      { transform: translateX(100%); }

@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideInLeft {
    from    { transform:translateX(-100%); }
    to      { transform: translateX(0); }
}