<!doctype html>

<html ng-app="AngularArtwork">
	<head>

		<meta charset="utf-8">
		<title>Angular Artwork</title>

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
		<script src="js/core.js"></script>

	</head>

	
	<body ng-controller="mainController">

		<div class="container">

			<div class="row">
				
				<div class="col-md-12">
					
					<h1 class="text-center">Guess the older artwork!  Can you remembr ant?<br><br>{{correct}} / {{total}}</h1>

				</div>

			</div>

			<div class="row">

				<div class="col-md-5 img1div" ng-hide="imgSwitch">
					<img class="thumbnail img-responsive" 
						ng-class="{ 'win' : win === 1,
									'lose' : win === 2 }"
						ng-click="guess(1)" ng-src="{{img1url}}"
						ngDisabled="disabled">

					<h2 class="text-center">{{img1dateDisplay}}</h2>
				</div>

				<div class="col-md-2">
					<button ng-click="next()" ngDisabled="nextDisabled" ng-hide="nextDisabled" class="btn btn-primary next">Next</button>
				</div>

				<div class="col-md-5 img2div" ng-hide="imgSwitch">
					<img class="thumbnail img-responsive"
					ng-class="{ 'win' : win === 2,
								'lose' : win === 1 }"
					ng-click="guess(2)" ng-src="{{img2url}}"
					ngDisabled="disabled">

					<h2 class="text-center">{{img2dateDisplay}}</h2>
				</div>	

			</div>

		</div>

	</body>

</html>